* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 27, 27);  
}

.profiles-image {
    margin-left: 5%; 
    width: 90%; 
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    margin-left: 5%; 
    width: 90%; 
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile, #profile2, #profile3, #profile4 {
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%; 
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    font-size: 4vw; 
    margin-top: 5vh; 
    margin-bottom: 3vh; 
}

.profiles-name {
    font-size: 2vw; 
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2vh; 
    margin-left: 5%; 
    margin-right: 2%; 
    padding-right: 1%; 
}

#name-profile {
    margin-right: 2%; 
    padding-right: 2%; 
}

#name-profile2 {
    padding-left: 5%; 
    margin-right: 3%; 
}

#name-profile3 {
    margin-left: 5%; 
    margin-right: 3%; 
}

#name-profile4 {
    margin-left: 4%; 
    margin-right: 3%; 
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 6vw; 
    }

    .profiles-name {
        font-size: 6vw; 
        margin-left: 0; 
        margin-right: 0; 
        padding-right: 0; 
        padding-left: 0; 
        text-align: center; 
    }

    .profiles-image {
        margin-left: 0; 
        width: 100%; 
    }

    #profile, #profile2, #profile3, #profile4 {
        margin-right: 0; 
        margin-bottom: 2vh; 
    }
}
