/* Zerar margens e preenchimentos padrão e usar a caixa de modelagem de borda */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Configurações para o corpo da página */
body {
    background-image: url('Netflix-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* Estilo da caixa principal */
.box {
    background-color: rgba(0, 0, 0, 0.8); 
    width: 80%; 
    max-width: 480px; 
    border-radius: 20px; 
    padding: 20px; 
    text-align: center; 
    color: rgb(231, 36, 36); 
}

/* Estilo da imagem dentro da caixa */
img {
    width: 100%; 
    height: auto; 
    border-radius: 10px;
}

/* Estilos para os títulos h1 e h2 */
h1, h2 {
    margin: 5px 0; 
}

h2 {
    margin: 20px 0; 
    font-style: italic; 
}

/* Estilo do botão 'Entrar' */
.Entrar {
    background-color: black; 
}

/* Estilos para campos de entrada de texto */
input {
    border-radius: 10px; 
    padding: 10px; 
    margin: 10px 0;
    width: 100%; 
    box-sizing: border-box; 
}

/* Estilos para o botão genérico */
button {
    background-color: gray; 
    width: 100%; 
    border-radius: 10px; 
    font-weight: bold; 
    margin-top: 10px; 
    padding: 10px; 
}

/* Estilos para links */
a {
    display: block; 
    text-align: center; 
    color: red; 
    margin-top: 10px; 
    padding: 10px; 
}